*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: inter ;
}

:root{
    --site-max-width:982px;
}
header{
    width: 100%;
    height: 14vh;
    display: flex;
    flex-direction: column;
    .color_first_section{
        background-color: #E3E3E3;
        position: relative;
    
        .firstsectionhed{
            width: var(--site-max-width);
            margin: 0 auto;
            height: 5vh;
            background-color: #E3E3E3;
            display: flex;
            align-items: center;
            .search{
                width: 18%;
                height: 4vh;
                display: flex;
                align-items: center;
                justify-content: end;
                gap: 10px;
                margin-left: 30px;
                button{
                    border: none;
                    background-color: #E3E3E3;
                }
                input{
                    background-color: #E3E3E3;
                    outline: none;
                    border: none;
                    
                }
            }
            .button{
                width: 60%;
                display: flex;
                align-items: center;
                justify-content: end;
                gap: 20px;
                button{
                    border: none;
                    background-color: #E3E3E3;
                    }
            }
            .FREESHIPING{
                width: 25%;
                text-align: center;
            }

            
            .navline1{
                width: 1px;
                height: 5vh;
                margin-left: 25px;
                background-color: darkgray;
            }
            .navline2{
                width: 1px;
                height: 5vh;
                background-color: darkgray;
            }

            .storeicon{
                width: 20%;
                i{
                    margin-left: 25px;
                }
            }


            .cart{
                width: 18%;
                background-color: #E4E4E4;
                height: 100vh;
                position: fixed;
                right: 0;
                top: 0;
                display: none;

                .cart_title{
                    font-size: 30px;
                    color: white;
                    margin-left: 40%;
                }

                .cart_header{
                    width: 100%;
                    height: 10vh;
                    background-color: #242323;
                    display: flex;
                    align-items: center;
                    padding: 25px;
                    .arrow {
                        border: solid white;
                        border-width: 0 3px 3px 0;
                        display: inline-block;
                        padding: 3px;
                    }

                    .right {
                        transform: rotate(-45deg);
                        -webkit-transform: rotate(-45deg);
                    }
                }

                .cart_main_body{
                    display: flex;
                    margin-top: 5vh;
                    justify-content: center;
                }


                
            }

            #cart_check{
                display: none;
            }

            #cart_check:checked ~ .cart{
                display: block;
            }
        }
    }

    .color_second_section{
        background-color: #242323;
    
        .secondsectionhed{
            width: var(--site-max-width);
            margin: 0 auto;
            height: 9vh;
            background-color: #242323;
            display: flex;
            .mainname{
                width: 12%;
                display: flex;
                align-items: center;
                justify-content: end;
                
                font-weight: 200;
                font-size: 30px;
                letter-spacing: 2px;
                a{
                    color: white;
                }
            }

            nav{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                
                ul{
                    display: flex;
                    gap: 65px;
                    width: 80%;
                    .forstyle{
                        display: flex;
                        align-items: top;
                        justify-content: center;
                        position: relative;
                    }
                    li{
                        
                        a{
                            color: rgb(130, 127, 127);
                        }
                        a:hover{
                            color: white;
                        }

                        ul{
                            .dropdown {
                                .dropfather{
                                    li{
                                        display: block;
                                    }
                                }
                                
                            }
                        }

                        .dropdown{
                            width: auto;
                            background-color:#242323;
                            position: absolute;
                            z-index: 799;
                            display: none;
                            top: 20px;
                           
                           

                            .dropfather{
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                gap: 10px;
                                padding: 20px 50px 10px 50px ;
                                
                            }
                            
                        }

                    }
                    li:hover .dropdown{
                        display: block;
                    }
                    

                }

            }
        }
    }
}


.burger{
    width: 60px;
    height: 55px;
    border: 2px solid white ;
    background-color: #242323;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // margin-right: 5px;
    
    .burgerline{
        width: 40px;
        height: 4px;
        margin-top: 4px;
        background-color: white;
    }
}

#check{
    display: none;
}
#check:checked ~ .nav2{
    display: block;
}

#check:checked + label .burger{
    border: none;
}

#check:checked +label .burger .line2{
    display: none;
}

#check:checked +label .burger .line1{
    transform: rotate(45deg) translate(5px);
    transition: 0.5s;
}

#check:checked +label .burger .line3{
    transform: rotate(-45deg) translate(5px);
    transition: 0.5s;
}



.nav2{
    width: 100%;
    height: 100vh;
    background-color: white;
    display: none;
    

    nav{
        display: flex;
        align-items: center;
        justify-content: center;
        align-items: center;
        a{
            color: black;
        }

        ul{
            margin-top: 15h;

            .search{

                button{
                   
                    background-color: #FFFFFF;
                    border: none;
                }

                input{
                    border: none;
                    outline: none;
                }
            }

           
           

            .buttonnav2{
                margin-top: 9vh;
                button{
                    background-color: #FFFFFF;
                    border: none;
                    margin-left: 10px;
                    font-weight: 400;
                    font-size: 17px;
                }
            }
            li{
                margin-top: 3vh;

            }


            .droptest{
                margin-bottom: 3vh;
            }

            .search{
                margin-top: 3vh;
            }
        }
        
        

    }

   
    
    .droptest{
        float: left;
        overflow: hidden;

        .dropbtn{
            font-size: 16px;  
            border: none;
            outline: none;
            color: black;
            background-color: #FFFFFF;
            margin: 0;
        }


        .dropfather{
            display: none;
            position: static;
            background-color: #FFFFFF;
            width: 30%;
            margin-left: 25px;
            li{
                margin-top: 4vh;
            }

            

            
        }

        
    }

    .droptest:hover .dropfather{
        display: block;
    }

    

    
    
}
.header2{
    display: none;
    margin-top: 70px;
    width: 100%;
    height: 14vh;
    flex-direction: column;
    .hed2firstsection{
        width: 100%;
        height: 9vh;
        background-color: #242323;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .mainname{
            width: 25%;
            display: flex;
            align-items: center;
            color: white;
            h1{
                margin-left: 25px;
            }
        }
    }
    .hed2secondsection{
        width: 100%;
        height: 5vh;
        background-color: #E3E3E3;
        display: flex;
        align-items: center;
        .navline2{
            width: 1px;
            height: 5vh;
            margin-left: 25px;
            background-color: darkgray;
        }
        .FREESHIPING{
            width: 25%;
            text-align: center;
        }
        .storeicon{
            width: 4%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
} 





.women_header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15vh;
    background-color:#F5F3F2 ;

    h2{
        font-weight: 400;
    }
}


.women_section{
    width: var(--site-max-width);
    margin: 0 auto;

    .women_container{

        .womrn_first_section{
            display: flex;
            gap: 10px;
            margin-top: 10px;

            .pic_cont{
                
                img{
                    width: 100%;
                }

                .pic_name{
                    margin-top: 10px;
                    color: #242323;
                }

                .price{
                    margin-top: 10px;
                    color: gray;
                }

                .relative_cont{
                    position: relative;

                    .overlay_picture{
                        position: absolute;
                        top: 0;
                        left: 0;
                        display: none;
                    }

                    .OVERLAY{
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        height: 0;
                        overflow: hidden;
                        background-color: rgba(255, 255, 255, 0.637);
                        width: 100%;
                        transition: .5s ease;
                        font-size: 20px;
                        color: black;
                        font-weight: 300;
                        opacity: 1;
                        margin-bottom: 3px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        z-index: 55;
                        
                    }

                    


                }

                .relative_cont:hover .OVERLAY{
                    height: 15%;
                }

                .relative_cont:hover .overlay_picture{
                    display: block;
                }


            }
        }
    }

   

    .women_second_section{
        display: flex;
        gap: 10px;
        margin-top: 10px;

        .pic_cont{
            
            img{
                width: 100%;
            }

            .pic_name{
                margin-top: 10px;
                color: #242323;
            }

            .price{
                margin-top: 10px;
                color: gray;
            }

            .prices_new_old{
                display: flex;
                gap: 10px;
                align-items: center;

                .price{
                    text-decoration-line: line-through;
                }
                p{
                    color: gray;
                }
                
            }

            .relative_cont{
                position: relative;


                .absolute_sale{
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: #45A37A;
                    padding: 4px 10px;
                }

                .overlay_picture{
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: none;
                    
                }
                p{
                    color: white;
                    font-weight: 300;
                }

                .OVERLAY{
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 0;
                    overflow: hidden;
                    background-color: rgba(255, 255, 255, 0.637);
                    width: 100%;
                    transition: .5s ease;
                    font-size: 20px;
                    color: black;
                    font-weight: 300;
                    opacity: 1;
                    margin-bottom: 3px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    z-index: 55;
                    
                }

                


            }

            .relative_cont:hover .OVERLAY{
                height: 15%;
            }

            .relative_cont:hover .overlay_picture{
                display: block;
            }


        }
    }
}


















footer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;

    .footercontainer{
        .footer_section{
            width:var(--site-max-width);
            margin: 0 auto;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;

            .forsize{
                width: 100%;
                display: flex;
                height: auto;
                margin-top: 55px;
                margin-bottom: 55px;
                .firstfooterbox{
                    display: flex;
                    
                    width: 25%;
                    height: auto;
                    a{
                        margin-left: 25px;
                        h2{
                            font-size: 25px;
                            font-weight: 500;
                            color: gray;
                        }
                        
                    }

                }
        
                .vertikalline1{
                    width: 1px;
                    height: auto;
                    background-color: gray;
                }
        
                .secondfooterbox{
                    display: flex;
                    flex-direction: column;
                    
                    width: 25%;
                    height: auto;
                    padding-left: 20px;
                    gap: 25px;

                    h4{
                        color: gray;
                        font-size: 20px;
                        font-weight: 200;
                    }

                    .footerlinks{
                        display: flex;
                        flex-direction: column;
                        gap: 5px;

                        a{
                            color: gray;
                        }
                    }
                       
                }
        
                    
        
                .therdfooterbox{
                    display: flex;
                    flex-direction: column;
                    
                    width: 25%;
                    padding-left: 20px;
                    gap: 25px;

                    h4{
                        color: gray;
                        font-size: 20px;
                        font-weight: 200;
                    }

                    .pelements{
                        display: flex;
                        flex-direction: column;
                        gap: 5px;
                        p{
                            color: gray;
                            font-size: 13px;
                        }
                    }
                }
        
                .fourthfooterbox{
                    display: flex;
                    flex-direction: column;
                    
                    width: 25%;
                    padding-left: 20px;
                    gap: 25px;


                    h4{
                        color: gray;
                        font-size: 20px;
                        font-weight: 200;
                    }

                    .socialicons{
                        display: flex;
                        gap: 20px;
                    }
                }
            }
        }

        
    }

    
}

.lastpartofweb{
    background-color: black;
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}





@media screen  and (max-width:1000px) {
    body{
        header{
            display: none;
        }
        .nav2{
            position: fixed;
            z-index: 1;
        }
        .burger{
            display: flex;
            position: absolute;
            right:0;
            // left: 15;
            top: 0.5vh;
            z-index: 2;

            margin-right: 26%;
        }

        .header2{
            display: flex;
            margin: 0px;
            align-items: center;
            position: relative;
            a{
                color: white;
            }

            .hed2firstsection{
                width: 50%;
                
            }

            .hed2secondsection{
                width: 50%;
                .storeicon{
                    width: 10%;
                    padding-left: 25px;
                    
                }
                .FREESHIPING{
                    width: 40%;
                }
            }
        }



        .women_responsiv{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            
            
            .women_header{
                width: 50%;
                
            }
        }
        

        .women_section{
            width: 50%;
            background-color: #cbc3c3;
            margin-top: 45px;

            
        }



        .women_second_section{
            flex-direction: column;
            align-items: center;

            .pic_cont{
                .OVERLAY{
                    display: none !important;
                }
            }
        }



      


        
        .for_responsive_lastpartofweb{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            .lastpartofweb{
                width: 50%;
                
            }
        }
        
               
                
                
                
        
   
        


        
    }
}
