* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: inter;
}

:root {
  --site-max-width:982px;
}

.active {
  color: orange;
}

header {
  width: 100%;
  height: 14vh;
  display: flex;
  flex-direction: column;
}
header .color_first_section {
  background-color: #E3E3E3;
  position: relative;
}
header .color_first_section .firstsectionhed {
  width: var(--site-max-width);
  margin: 0 auto;
  height: 5vh;
  background-color: #E3E3E3;
  display: flex;
  align-items: center;
}
header .color_first_section .firstsectionhed .search {
  width: 18%;
  height: 4vh;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
  margin-left: 30px;
}
header .color_first_section .firstsectionhed .search button {
  border: none;
  background-color: #E3E3E3;
}
header .color_first_section .firstsectionhed .search input {
  background-color: #E3E3E3;
  outline: none;
  border: none;
}
header .color_first_section .firstsectionhed .button {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 20px;
}
header .color_first_section .firstsectionhed .button button {
  border: none;
  background-color: #E3E3E3;
}
header .color_first_section .firstsectionhed .FREESHIPING {
  width: 25%;
  text-align: center;
}
header .color_first_section .firstsectionhed .navline1 {
  width: 1px;
  height: 5vh;
  margin-left: 25px;
  background-color: darkgray;
}
header .color_first_section .firstsectionhed .navline2 {
  width: 1px;
  height: 5vh;
  background-color: darkgray;
}
header .color_first_section .firstsectionhed .storeicon {
  width: 20%;
}
header .color_first_section .firstsectionhed .storeicon i {
  margin-left: 25px;
}
header .color_first_section .firstsectionhed .cart {
  width: 18%;
  background-color: #E4E4E4;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  display: none;
}
header .color_first_section .firstsectionhed .cart .cart_title {
  font-size: 30px;
  color: white;
  margin-left: 40%;
}
header .color_first_section .firstsectionhed .cart .cart_header {
  width: 100%;
  height: 10vh;
  background-color: #242323;
  display: flex;
  align-items: center;
  padding: 25px;
}
header .color_first_section .firstsectionhed .cart .cart_header .arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
header .color_first_section .firstsectionhed .cart .cart_header .right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
header .color_first_section .firstsectionhed .cart .cart_main_body {
  display: flex;
  margin-top: 5vh;
  justify-content: center;
}
header .color_first_section .firstsectionhed #cart_check {
  display: none;
}
header .color_first_section .firstsectionhed #cart_check:checked ~ .cart {
  display: block;
}
header .color_second_section {
  background-color: #242323;
}
header .color_second_section .secondsectionhed {
  width: var(--site-max-width);
  margin: 0 auto;
  height: 9vh;
  background-color: #242323;
  display: flex;
}
header .color_second_section .secondsectionhed .mainname {
  width: 12%;
  display: flex;
  align-items: center;
  justify-content: end;
  font-weight: 200;
  font-size: 30px;
  letter-spacing: 2px;
}
header .color_second_section .secondsectionhed .mainname a {
  color: white;
}
header .color_second_section .secondsectionhed nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .color_second_section .secondsectionhed nav ul {
  display: flex;
  gap: 65px;
  width: 80%;
}
header .color_second_section .secondsectionhed nav ul .forstyle {
  display: flex;
  align-items: top;
  justify-content: center;
  position: relative;
}
header .color_second_section .secondsectionhed nav ul li a {
  color: rgb(130, 127, 127);
}
header .color_second_section .secondsectionhed nav ul li a:hover {
  color: white;
}
header .color_second_section .secondsectionhed nav ul li ul .dropdown .dropfather li {
  display: block;
}
header .color_second_section .secondsectionhed nav ul li .dropdown {
  width: auto;
  background-color: #242323;
  position: absolute;
  z-index: 799;
  display: none;
  top: 20px;
}
header .color_second_section .secondsectionhed nav ul li .dropdown .dropfather {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px 50px 10px 50px;
}
header .color_second_section .secondsectionhed nav ul li:hover .dropdown {
  display: block;
}

.burger {
  width: 60px;
  height: 55px;
  border: 2px solid white;
  background-color: #242323;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.burger .burgerline {
  width: 40px;
  height: 4px;
  margin-top: 4px;
  background-color: white;
}

#check {
  display: none;
}

#check:checked ~ .nav2 {
  display: block;
}

#check:checked + label .burger {
  border: none;
}

#check:checked + label .burger .line2 {
  display: none;
}

#check:checked + label .burger .line1 {
  transform: rotate(45deg) translate(5px);
  transition: 0.5s;
}

#check:checked + label .burger .line3 {
  transform: rotate(-45deg) translate(5px);
  transition: 0.5s;
}

.nav2 {
  width: 100%;
  height: 100vh;
  background-color: white;
  display: none;
}
.nav2 nav {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
}
.nav2 nav a {
  color: black;
}
.nav2 nav ul {
  margin-top: 15h;
}
.nav2 nav ul .search button {
  background-color: #FFFFFF;
  border: none;
}
.nav2 nav ul .search input {
  border: none;
  outline: none;
}
.nav2 nav ul .buttonnav2 {
  margin-top: 9vh;
}
.nav2 nav ul .buttonnav2 button {
  background-color: #FFFFFF;
  border: none;
  margin-left: 10px;
  font-weight: 400;
  font-size: 17px;
}
.nav2 nav ul li {
  margin-top: 3vh;
}
.nav2 nav ul .droptest {
  margin-bottom: 3vh;
}
.nav2 nav ul .search {
  margin-top: 3vh;
}
.nav2 .droptest {
  float: left;
  overflow: hidden;
}
.nav2 .droptest .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  background-color: #FFFFFF;
  margin: 0;
}
.nav2 .droptest .dropfather {
  display: none;
  position: static;
  background-color: #FFFFFF;
  width: 30%;
  margin-left: 25px;
}
.nav2 .droptest .dropfather li {
  margin-top: 4vh;
}
.nav2 .droptest:hover .dropfather {
  display: block;
}

.header2 {
  display: none;
  margin-top: 70px;
  width: 100%;
  height: 14vh;
  flex-direction: column;
}
.header2 .hed2firstsection {
  width: 100%;
  height: 9vh;
  background-color: #242323;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header2 .hed2firstsection .mainname {
  width: 25%;
  display: flex;
  align-items: center;
  color: white;
}
.header2 .hed2firstsection .mainname h1 {
  margin-left: 25px;
}
.header2 .hed2secondsection {
  width: 100%;
  height: 5vh;
  background-color: #E3E3E3;
  display: flex;
  align-items: center;
}
.header2 .hed2secondsection .navline2 {
  width: 1px;
  height: 5vh;
  margin-left: 25px;
  background-color: darkgray;
}
.header2 .hed2secondsection .FREESHIPING {
  width: 25%;
  text-align: center;
}
.header2 .hed2secondsection .storeicon {
  width: 4%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_parent_plated_for_responsive {
  width: 100%;
}
.main_parent_plated_for_responsive .page_title_plated {
  width: var(--site-max-width);
  margin: 0 auto;
}
.main_parent_plated_for_responsive .page_title_plated .home_plated_scirt_child {
  width: 100%;
  height: 15vh;
  background-color: #FDFDFD;
  display: flex;
  align-items: center;
}
.main_parent_plated_for_responsive .page_title_plated .home_plated_scirt_child a {
  color: black;
}
.main_parent_plated_for_responsive .page_title_plated .main_parent_plated_skirt {
  display: flex;
  width: 100%;
  height: auto;
  gap: 30px;
}
.main_parent_plated_for_responsive .page_title_plated .main_parent_plated_skirt .first_section_for_plated_skirt {
  width: 60%;
}
.main_parent_plated_for_responsive .page_title_plated .main_parent_plated_skirt .first_section_for_plated_skirt .img_section {
  width: 100%;
}
.main_parent_plated_for_responsive .page_title_plated .main_parent_plated_skirt .first_section_for_plated_skirt .img_section .img_for_plated_skirt {
  width: 100%;
  height: auto;
  position: relative;
}
.main_parent_plated_for_responsive .page_title_plated .main_parent_plated_skirt .first_section_for_plated_skirt .img_section .img_for_plated_skirt img {
  width: 100%;
}
.main_parent_plated_for_responsive .page_title_plated .main_parent_plated_skirt .first_section_for_plated_skirt .img_section .small_imgs {
  width: 100%;
  height: 10vh;
}
.main_parent_plated_for_responsive .page_title_plated .main_parent_plated_skirt .first_section_for_plated_skirt .img_section .small_imgs img {
  width: 10%;
}
.main_parent_plated_for_responsive .page_title_plated .main_parent_plated_skirt .first_section_for_plated_skirt .img_section .small_imgs .animation1 {
  border: 3px solid #BDD7D0;
}
.main_parent_plated_for_responsive .page_title_plated .main_parent_plated_skirt .second_section_for_plated_skirt {
  width: 40%;
}
.main_parent_plated_for_responsive .page_title_plated .main_parent_plated_skirt .second_section_for_plated_skirt .plated_title {
  width: 100%;
}
.main_parent_plated_for_responsive .page_title_plated .main_parent_plated_skirt .second_section_for_plated_skirt .plated_title h3 {
  font-size: 25px;
  font-weight: 400;
  padding-bottom: 10px;
}
.main_parent_plated_for_responsive .page_title_plated .main_parent_plated_skirt .second_section_for_plated_skirt .plated_title .SKU {
  font-size: 12px;
  margin-bottom: 25px;
}
.main_parent_plated_for_responsive .page_title_plated .main_parent_plated_skirt .second_section_for_plated_skirt .plated_title .skirtPrice {
  font-size: 17px;
  font-weight: 300;
  padding-bottom: 25px;
}
.main_parent_plated_for_responsive .page_title_plated .main_parent_plated_skirt .second_section_for_plated_skirt form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.main_parent_plated_for_responsive .page_title_plated .main_parent_plated_skirt .second_section_for_plated_skirt form .size_name_style {
  padding-bottom: 10px;
  font-size: 17px;
}
.main_parent_plated_for_responsive .page_title_plated .main_parent_plated_skirt .second_section_for_plated_skirt form .size_window {
  height: 5vh;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 25px;
  outline: none;
}
.main_parent_plated_for_responsive .page_title_plated .main_parent_plated_skirt .second_section_for_plated_skirt form .quantity {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 25%;
}
.main_parent_plated_for_responsive .page_title_plated .main_parent_plated_skirt .second_section_for_plated_skirt form .quantity #tentacles {
  height: 5vh;
  padding: 20px;
  margin-bottom: 25px;
  outline: none;
}
.main_parent_plated_for_responsive .page_title_plated .main_parent_plated_skirt .second_section_for_plated_skirt form .add_to_cart_parent {
  width: 100%;
  display: flex;
  margin-bottom: 15px;
  cursor: pointer;
  border: none;
}
.main_parent_plated_for_responsive .page_title_plated .main_parent_plated_skirt .second_section_for_plated_skirt form .add_to_cart_parent .add_to_cart {
  width: 85%;
  height: 5vh;
  background-color: #BDD7D0;
  border: none;
  color: white;
  font-size: 17px;
  cursor: pointer;
}
.main_parent_plated_for_responsive .page_title_plated .main_parent_plated_skirt .second_section_for_plated_skirt form .add_to_cart_parent button:hover {
  background-color: rgba(189, 215, 208, 0.8274509804);
}
.main_parent_plated_for_responsive .page_title_plated .main_parent_plated_skirt .second_section_for_plated_skirt form .add_to_cart_parent .PUGOL6 {
  width: 15%;
  border: 1px solid #BDD7D0;
  height: 5vh;
  color: #BDD7D0;
  cursor: pointer;
}
.main_parent_plated_for_responsive .page_title_plated .main_parent_plated_skirt .second_section_for_plated_skirt form .buy_now {
  width: 100%;
  margin-bottom: 5vh;
}
.main_parent_plated_for_responsive .page_title_plated .main_parent_plated_skirt .second_section_for_plated_skirt form .buy_now button {
  width: 100%;
  height: 5vh;
  background-color: #242323;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  font-size: 17px;
}
.main_parent_plated_for_responsive .page_title_plated .main_parent_plated_skirt .second_section_for_plated_skirt form .buy_now button:hover {
  background-color: rgba(128, 128, 128, 0.344);
}
.main_parent_plated_for_responsive .page_title_plated .main_parent_plated_skirt .second_section_for_plated_skirt .box_for_product_style {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.main_parent_plated_for_responsive .page_title_plated .main_parent_plated_skirt .second_section_for_plated_skirt .box_for_product_style .box_for_product label .minus_svg {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  margin-bottom: 30px;
}
.main_parent_plated_for_responsive .page_title_plated .main_parent_plated_skirt .second_section_for_plated_skirt .box_for_product_style .box_for_product label .minus_svg a {
  color: black;
}
.main_parent_plated_for_responsive .page_title_plated .main_parent_plated_skirt .second_section_for_plated_skirt .box_for_product_style .box_for_product label .minus_svg .line1 {
  width: 15px;
  height: 2px;
  background-color: black;
}
.main_parent_plated_for_responsive .page_title_plated .main_parent_plated_skirt .second_section_for_plated_skirt .box_for_product_style .box_for_product label .minus_svg .line2 {
  width: 15px;
  height: 2px;
  background-color: black;
  display: none;
}
.main_parent_plated_for_responsive .page_title_plated .main_parent_plated_skirt .second_section_for_plated_skirt .box_for_product_style .box_for_product #minus_plus {
  display: none;
}
.main_parent_plated_for_responsive .page_title_plated .main_parent_plated_skirt .second_section_for_plated_skirt .box_for_product_style .box_for_product .first_check {
  font-size: 12px;
}
.main_parent_plated_for_responsive .page_title_plated .main_parent_plated_skirt .second_section_for_plated_skirt .box_for_product_style .box_for_product #minus_plus:checked ~ .first_check {
  display: none;
}
.main_parent_plated_for_responsive .page_title_plated .main_parent_plated_skirt .second_section_for_plated_skirt .box_for_product_style .box_for_product #minus_plus:checked + label .minus_svg .line_cont .line2 {
  display: block;
}
.main_parent_plated_for_responsive .page_title_plated .main_parent_plated_skirt .second_section_for_plated_skirt .box_for_product_style .box_for_product #minus_plus:checked + label .minus_svg .line_cont .line2 {
  transform: rotate(90deg);
  transition: 0.5s;
}
.main_parent_plated_for_responsive .page_title_plated .main_parent_plated_skirt .second_section_for_plated_skirt .box_for_product_style .second_check_uncheck label .minus_cont {
  display: flex;
  font-size: 10px;
  justify-content: space-between;
  margin-bottom: 30px;
}
.main_parent_plated_for_responsive .page_title_plated .main_parent_plated_skirt .second_section_for_plated_skirt .box_for_product_style .second_check_uncheck label .minus_cont a {
  color: black;
}
.main_parent_plated_for_responsive .page_title_plated .main_parent_plated_skirt .second_section_for_plated_skirt .box_for_product_style .second_check_uncheck label .minus_cont .line_cont2 .line11 {
  width: 15px;
  height: 2px;
  background-color: black;
}
.main_parent_plated_for_responsive .page_title_plated .main_parent_plated_skirt .second_section_for_plated_skirt .box_for_product_style .second_check_uncheck label .minus_cont .line_cont2 .line12 {
  width: 15px;
  height: 2px;
  background-color: black;
  display: none;
}
.main_parent_plated_for_responsive .page_title_plated .main_parent_plated_skirt .second_section_for_plated_skirt .box_for_product_style .second_check_uncheck .second_p_check {
  font-size: 12px;
}
.main_parent_plated_for_responsive .page_title_plated .main_parent_plated_skirt .second_section_for_plated_skirt .box_for_product_style .second_check_uncheck #for_second_checkk {
  display: none;
}
.main_parent_plated_for_responsive .page_title_plated .main_parent_plated_skirt .second_section_for_plated_skirt .box_for_product_style .second_check_uncheck #for_second_checkk:checked ~ .second_p_check {
  display: none;
}
.main_parent_plated_for_responsive .page_title_plated .main_parent_plated_skirt .second_section_for_plated_skirt .box_for_product_style .second_check_uncheck #for_second_checkk:checked + label .minus_cont .line_cont2 .line12 {
  display: block;
}
.main_parent_plated_for_responsive .page_title_plated .main_parent_plated_skirt .second_section_for_plated_skirt .box_for_product_style .second_check_uncheck #for_second_checkk:checked + label .minus_cont .line_cont2 .line12 {
  transform: rotate(90deg);
}
.main_parent_plated_for_responsive .page_title_plated .main_parent_plated_skirt .second_section_for_plated_skirt .box_for_product_style .horizontal_line {
  width: 100%;
  height: 2px;
  background-color: black;
}
.main_parent_plated_for_responsive .page_title_plated .main_parent_plated_skirt .second_section_for_plated_skirt .box_for_product_style .socialicons_for_buy_page {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  gap: 25px;
}

footer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: #E4E4E4;
}
footer .footercontainer .footer_section {
  width: var(--site-max-width);
  margin: 0 auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E4E4E4;
}
footer .footercontainer .footer_section .forsize {
  width: 100%;
  display: flex;
  height: auto;
  margin-top: 55px;
  margin-bottom: 55px;
}
footer .footercontainer .footer_section .forsize .firstfooterbox {
  display: flex;
  width: 25%;
  height: auto;
}
footer .footercontainer .footer_section .forsize .firstfooterbox a {
  margin-left: 25px;
}
footer .footercontainer .footer_section .forsize .firstfooterbox a h2 {
  font-size: 25px;
  font-weight: 500;
  color: gray;
}
footer .footercontainer .footer_section .forsize .vertikalline1 {
  width: 1px;
  height: auto;
  background-color: gray;
}
footer .footercontainer .footer_section .forsize .secondfooterbox {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: auto;
  padding-left: 20px;
  gap: 25px;
}
footer .footercontainer .footer_section .forsize .secondfooterbox h4 {
  color: gray;
  font-size: 20px;
  font-weight: 200;
}
footer .footercontainer .footer_section .forsize .secondfooterbox .footerlinks {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
footer .footercontainer .footer_section .forsize .secondfooterbox .footerlinks a {
  color: gray;
}
footer .footercontainer .footer_section .forsize .therdfooterbox {
  display: flex;
  flex-direction: column;
  width: 25%;
  padding-left: 20px;
  gap: 25px;
}
footer .footercontainer .footer_section .forsize .therdfooterbox h4 {
  color: gray;
  font-size: 20px;
  font-weight: 200;
}
footer .footercontainer .footer_section .forsize .therdfooterbox .pelements {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
footer .footercontainer .footer_section .forsize .therdfooterbox .pelements p {
  color: gray;
  font-size: 13px;
}
footer .footercontainer .footer_section .forsize .fourthfooterbox {
  display: flex;
  flex-direction: column;
  width: 25%;
  padding-left: 20px;
  gap: 25px;
}
footer .footercontainer .footer_section .forsize .fourthfooterbox h4 {
  color: gray;
  font-size: 20px;
  font-weight: 200;
}
footer .footercontainer .footer_section .forsize .fourthfooterbox .socialicons {
  display: flex;
  gap: 20px;
}

.lastpartofweb {
  background-color: black;
  width: 100%;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

@media screen and (max-width: 1000px) {
  body header {
    display: none;
  }
  body .nav2 {
    position: fixed;
    z-index: 1;
  }
  body .burger {
    display: flex;
    position: absolute;
    right: 0;
    top: 0.5vh;
    z-index: 2;
    margin-right: 26%;
  }
  body .header2 {
    display: flex;
    margin: 0px;
    align-items: center;
    position: relative;
  }
  body .header2 a {
    color: white;
  }
  body .header2 .hed2firstsection {
    width: 50%;
  }
  body .header2 .hed2secondsection {
    width: 50%;
  }
  body .header2 .hed2secondsection .storeicon {
    width: 10%;
    padding-left: 25px;
  }
  body .header2 .hed2secondsection .FREESHIPING {
    width: 40%;
  }
  body .main_parent_plated_for_responsive .page_title_plated {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body .main_parent_plated_for_responsive .page_title_plated .home_plated_scirt_child {
    width: 50%;
  }
  body .main_parent_plated_for_responsive .page_title_plated .main_parent_plated_skirt {
    flex-direction: column;
    align-items: center;
  }
  body .main_parent_plated_for_responsive .page_title_plated .main_parent_plated_skirt .first_section_for_plated_skirt {
    width: 50%;
  }
  body .main_parent_plated_for_responsive .page_title_plated .main_parent_plated_skirt .first_section_for_plated_skirt .img_section .display_none_1 {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  body .main_parent_plated_for_responsive .page_title_plated .main_parent_plated_skirt .second_section_for_plated_skirt {
    width: 50%;
  }
  body .main_parent_plated_for_responsive .page_title_plated .main_parent_plated_skirt .second_section_for_plated_skirt .size_window {
    font-size: 13px;
  }
  body .footer_section {
    width: 50% !important;
  }
  body .forsize {
    flex-direction: column;
    width: 50%;
  }
  body .forsize .vertikalline1 {
    display: none;
  }
  body .forsize .secondfooterbox {
    width: 50% !important;
    margin-top: 25px;
  }
  body .forsize .therdfooterbox {
    width: 50% !important;
    margin-top: 25px;
  }
  body .forsize .fourthfooterbox {
    width: 50% !important;
    margin-top: 25px;
  }
  body .for_responsive_lastpartofweb {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
  }
  body .for_responsive_lastpartofweb .lastpartofweb {
    width: 50%;
  }
}/*# sourceMappingURL=additional.css.map */